
/* Applies the default snow background. */

h1, h2, p{
	color: #3b210d;
	font-family: "Lucinda Console", Courier, monospace;
	font-weight: normal;
	text-align: center;
}

p {
	font-size: 3vw;
	margin: 10px;
}


#page-center-column {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	width: 60%;
	background-image: url("pixabay_images/parchment-middle.png");
	background-size: 100%;
	background-repeat: repeat-y;
	height: inherit;
	padding: 0px 0px 0px 0px;
}

	
h1#journal {
	font-size: 4vw;
	margin-bottom: 0px;
	position: relative;

	top: 10px;
}

h2#journal {
	font-size: 3vw;
	margin-top: 0px;
	position: relative;
	text-align: center;
}